# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Executables
c/060-shortest
c/068-unknown
c/078-jargon-file
c/079-original
c/081-miller
c/084-hu
c/085-dd
c/092-ruohtula
c/097-unknown
c/099-lindbergh
c/100-machi
c/102-hu
c/113-unknown
c/115-hsieh
c/115-reverse
c/124-mogensen
c/144-reverse
c/157-emmit
c/178-cranston
c/182-kaplan
c/185-unknown
c/190-unknown
c/192-smith
c/227-suikki
c/245-wooding
c/262-palindrome
c/263-palindrome
c/263-unknown
c/263-willem
c/275-palindrome
c/281-trigraphs
c/291-kaplan
c/292-harif
c/351-hagerman
c/351-hidaka
c/357-palindrome
c/357-unknown
c/364-unknown
c/371-kaplan
c/414-zefram
c/442-martin
c/449-kaplan
c/512-luca
c/561-english
c/635-unknown
c/744-thumser
c/865-unknown
c/Makefile
c/bowl
c/nonworking
c/077-efermat
c/078-breadbox
c/125-bakulin
